# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=ebike
POSTGRES_PORT=25000

# Приложение
APP_PORT=8080
DATABASE_URL=postgres://postgres:changeme@localhost:25000/ebike?sslmode=disable
LOG_LEVEL=debug

PARTNER_SHARE=0.10